@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
a:link,a:visited,a:hover,a:active{text-decoration:none;} 
/*==========================Reset_End===========================*/
#box{ margin:50px auto;  width:860px ; border:1px solid #000; overflow: hidden; height: 290px; }
#head{width: 650px; margin:0 auto; overflow: hidden;}
#head h1{ height: 35px; font-size: 15px; color: #636494; border:1px solid #c3c3c3; width: 113px; float: left; border-right: 0px; text-align: center; line-height: 35px; padding: 3px; cursor: pointer; color: #636363;}
#box ul li{float: left; padding: 20px; margin-left: 10px;}
#box ul li .font1{color: #000; font-size: 12px; font-weight: bold;}
#box ul li .font2{color: #989898; font-size: 12px;}
#box ul li p{margin-top: 5px;}
#box1{overflow: hidden;}
#box .select{background-color: #51ab27; color: #fff;}	
#box .show{display: block;}
#box ul{display: none; overflow: hidden;}
	;}
